:root {
    --color-background-page: #C7D7FD;
    --color-background-navbar: #A4BDFA;
    --color-navbar-title: #EAEFF8;
    --color-text: black;
    --color-warning-text: #e74c3c;
    --color-table-icon: blue;
}