@import "color.css";

.header-navbar{
    background-color: var(--color-background-navbar);
}

.title{
    color: var(--color-navbar-title);
    margin-left: 20px;
}

.add-button{
    float: right;
    margin-right: 40px;
    background-color: var(--color-background-page) !important;
    color: var(--color-text);
}