@import "color.css";

#header-navbar{
    background-color: var(--color-background-navbar);
}

.h1-title{
    color: var(--color-navbar-title);
    margin-left: 20px;
}

#add-button{
    float: right;
    margin-right: 40px;
    background-color: var(--color-background-page);
    color: var(--color-text);
}